body {
    background-color: black;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 3px solid darkred;
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
}

#title, .subtitle, .post_title {
    color:darkred;
}

#title {
    font-size: 35px;
}

a {
    text-decoration: underline;
    color: darkred;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: antiquewhite;
    padding: 15px;
    border: 3px solid darkred;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px; 
}

.post_image{
    margin-bottom: 15px;
    max-height: 500px;
    max-width: 500px;
}

.contact_list {
    list-style-type: circle;
    color: aliceblue;
    padding-left: 15px;
}

.contact_list li a{
    color: cornflowerblue;
}